h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

h3, h4 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
